$icons-spacing:20px;
@import "compass/utilities/sprites";
@import "icons/*.png";
html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, table, tr, td, form, object, embed, article, aside, canvas, command, details, fieldset, figcaption, figure, footer, group, header, hgroup, legend, mark, menu, meter, nav, output, progress, section, summary, time, audio, video, img {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/oboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/roboto-regular-webfont.woff') format("woff"), url('../fonts/roboto-regular-webfont.ttf') format("truetype"), url('../fonts/roboto-regular-webfont.svg#robotoregular') format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: arial;
  font-size: 12px;
  color: #888888;
  background: #f3f3f3;
}

a {
  text-decoration: none;
  color: #444444;
  &:hover {
    color: #666666;
  }
}

li {
  float: left;
  list-style: none;
}

h1 {
  font-size: 24px;
  font-family: robotoregular;
}

h2 {
  font-family: robotoregular;
  font-size: 18px;
}

.clr {
  clear: both;
  float: none;
}

#header {
  background: #ffffff;
  margin-bottom: 30px;
  box-shadow: 0px 2px 5px 0px #d7d7d7;
}

.headerWrapper {
  width: 960px;
  margin: 0 auto 0 auto;
}

.logo {
  display: block;
  float: left;
  // background: no-repeat url(../images/logo.jpg);
  @include icons-sprite(logo);
  width: 140px;
  height: 40px;
  margin: 12px 0 9px 10px;
}

.topNav {
  float: right;
}

.userNav {
  margin: 08px 0 9px 0;
  float: right;
  li {
    border-left: 1px solid #444444;
  }
  .start {
    border: none;
  }
  li a {
    padding: 0 7px 0 7px;
  }
}

.mainNav {
  font-family: robotoregular;
  text-transform: uppercase;
  margin: 0 8px 0 0;
  li {
    margin: 0  0 0 31px;
    a {
      padding: 0 0 0 25px;
      font-weight: bold;
      color: #666666;
      font-size: 13px;
    }
  }
  .dashboard a {
    // background: no-repeat url(../images/dashboard.png) left center;
    @include icons-sprite(dashboard);
  }
  .jobs a {
    // background: no-repeat url(../images/jobs.png) left center;
    @include icons-sprite(jobs);
  }
  .translator a {
    // background: no-repeat url(../images/translator.png) left center;
    
    @include icons-sprite(language);
  }
  .language a {
    // background: no-repeat url(../images/language.png) left center;
    @include icons-sprite(language);
  }
  .teams a {
    // background: no-repeat url(../images/teams.png) left center;
    @include icons-sprite(teams);
  }
  li a:hover {
    color: #444444;
  }
  .dashboard a.selected {
    // background: no-repeat url(../images/dashboardOver.png) left center;
    @include icons-sprite(dashboardOver);
    color: #444444;
  }
  .jobs .selected {
    // background: no-repeat url(../images/jobsOver.png) left center;
    @include icons-sprite(jobsOver);
    color: #444444;
  }
  .translator .selected {
    // background: no-repeat url(../images/translatorOver.png) left center;
    @include icons-sprite(translatorOver);
    color: #444444;
  }
  .language .selected {
    // background: no-repeat url(../images/languageOver.png) left center;
    @include icons-sprite(languageOver);
    color: #444444;
  }
  .teams .selected {
    // background: no-repeat url(../images/teamsOver.png) left center;
    @include icons-sprite(teamsOver);
    color: #444444;
  }
}

/* selected */

#content {
  background: #f3f3f3;
  margin: 0 0 50px 0;
}

.contentWrapper {
  border-radius: 5px;
  width: 960px;
  margin: 0 auto 0 auto;
  background: #fbfbfb;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.profile {
  width: 679px;
  float: left;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.profileHeadWrapper {
  background: #444444;
  padding: 18px 20px 15px 20px;
  border-top-left-radius: 5px;
  margin: 0 0 28px 0;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
}

.profile .profileHead .profilePic {
  width: 116px;
  float: left;
  margin: 0px 23px 0px 0px;
  .pic {
    width: 100px;
    border-radius: 50px;
    box-shadow: 0 0 0 5px #2f2f2f;
    height: 100px;
    background: no-repeat url(../images/profilePic.jpg1);

    margin: 3px 2px 3px 7px;
    display: block;
  }
  ul {
    float: right;
    li {
      .linkedIn {
        // background: no-repeat url(../images/linkedIn.png);
        @include icons-sprite(linkedIn);
        height: 16px;
        width: 16px;
        display: block;
        position: relative;
        top: -11px;
      }
      .facebook {
        // background: no-repeat url(../images/facebook.png);
        @include icons-sprite(facebook);
        height: 16px;
        width: 16px;
        display: block;
        position: relative;
        top: -26px;
        margin-left: 2px;
      }
      .twitter {
        // background: no-repeat url(../images/twitter.png);
        @include icons-sprite(twitter);
        height: 16px;
        width: 16px;
        display: block;
        position: relative;
        top: -46px;
        margin-left: -3px;
        &:hover {
          top: -47px;
        }
      }
      .facebook:hover {
        top: -27px;
      }
      .linkedIn:hover {
        top: -12px;
      }
    }
  }
}

.goldPlanUser {
  width: 109px;
  display: block;
  // background: no-repeat url(../images/goldPlanUser.png);
  @include icons-sprite(goldPlanUser);
  padding: 4px 0 3px 9px;
  color: #000000;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.profile .profileHead {
  .profileTitle {
    width: 235px;
    float: left;
    margin: 0 24px 0 0;
    color: #bbbbbb;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
    h1 {
      font-weight: bold;
      color: #ffffff;
      margin: -2px 0 4px 0;
    }
    .from {
      margin: 0 0 10px 0;
      display: block;
    }
    .profession {
      font-size: 14px;
      color: #ffffff;
      font-weight: bold;
      margin: 0 0 10px 0;
      display: block;
    }
    ul li {
      margin: 0 0 3px 0;
      span {
        color: #ffffff;
        font-weight: bold;
      }
    }
  }
  .profileRating {
    width: 235px;
    float: right;
    color: #bbbbbb;
    .rating {
      margin: 0 0 5px 0;
      padding: 0 0 0 0;
      float: right;
      background: repeat-x url(../images/ratingBack.png);

      width: 80px;
      height: 13px;
      .ratingFront {
        background: repeat-x url(../images/ratingFront.png);
        width: 85%;
        height: 13px;
      }
    }
    .recommendetion {
      text-align: right;
      font-size: 13px;
      margin: 0 0 29px 0;
      span {
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
      }
    }
    .upgradeBtn {
      text-align: right;
      height: 28px;
      width: 163px;
      /*box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.18);*/
      float: right;
      margin: 0 0 12px 0;
      a {
        border: 1px solid #0e0e0e;
        border-radius: 3px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
        font-size: 14px;
        color: #ffffff;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
        display: block;
        height: 19px;
        width: 150px;
        padding: 5px 13px 4px 0;
        line-height: 14px;
        background: linear-gradient(#525252 10%, black 90%);
        &:hover {
          position: relative;
          top: -1px;
        }
      }
    }
    .addPowerFeature {
      text-align: right;
      line-height: 16px;
      width: 140px;
      float: right;
      font-family: robotoregular;
      span {
        color: #ffffff;
      }
    }
  }
}

.profileDetails {
  margin: 0 35px 10px 35px;
}

.icon-twitter {
  background-image: url(images/sprite.png);
  background-position: 0px -232px;
  width: 16px;
  height: 16px;
}

.profileDetails .contact {
  color: #666666;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 32px 0;
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 13px 0;
  ul {
    .address {
      width: 586px;
      // background: no-repeat url(../images/address.png);
      @include icons-sprite(address);
    }
    .phone {
      // background: no-repeat url(../images/phone.png);
      @include icons-sprite(phone);
    }
    .fax {
      // background: no-repeat url(../images/fax.png);
      @include icons-sprite(fax);
    }
    .mail {
      // background: no-repeat url(../images/mail.png);
      @include icons-sprite(mail);
    }
    .website {
      // background: no-repeat url(../images/website.png);
      @include icons-sprite(website);
      a {
        color: #666666;
        &:hover {
          color: #dd4422;
        }
      }
    }
    li {
      display: block;
      padding: 0 0 0 24px;
      width: 280px;
      margin: 0 0 9px 0;
    }
  }
}

.jobHistory {
  margin: 0 0 22px 0;
  h1 {
    color: #444444;
    padding: 0 0 10px 40px;
    border-bottom: 1px solid #ebebeb;
    // background: no-repeat url(../images/jobHistory.png);
    @include icons-sprite(jobHistory);
    margin: 0 0 16px 0;
  }
  ul {
    li {
      margin: 0 0 16px 0;
      border-bottom: 1px solid #f0f0f0;
    }
    .clr {
      border: none;
      margin: 0;
    }
  }
  h3 {
    font-weight: bold;
    font-size: 18px;
    color: #444444;
    margin: 0 0 6px 0;
  }
  .company {
    font-size: 14px;
    color: #444444;
    display: block;
    margin: 0 0 7px 0;
  }
  .workingPeriod {
    font-size: 11px;
    color: #aaaaaa;
    display: block;
    margin: 0 0 13px 0;
  }
  p {
    line-height: 18px;
    margin: 0 0 16px 0;
  }
}

.education {
  margin: 0 0 22px 0;
  h1 {
    color: #444444;
    padding: 0 0 10px 54px;
    border-bottom: 1px solid #ebebeb;
    // background: no-repeat url(../images/education.png);
    @include icons-sprite(education);
    margin: 0 0 21px 0;
  }
  ul {
    li {
      border-radius: 3px;
      box-shadow: 0px 0px 1px 1px #d9d9d9;
      padding: 10px 0 0 14px;
      width: 279px;
      margin: 0  22px 0 0;
    }
    .last {
      margin: 0 0 0 0px;
    }
    .clr {
      margin: 0 0 0 0px;
      box-shadow: none;
      padding: 0;
    }
  }
  h3 {
    font-weight: bold;
    font-size: 18px;
    color: #444444;
    margin: 0 0 6px 0;
  }
  .degree {
    font-size: 14px;
    color: #444444;
    display: block;
    margin: 0 0 7px 0;
  }
  .year {
    font-size: 11px;
    color: #aaaaaa;
    display: block;
    margin: 0 0 18px 0;
  }
}

.review {
  .reviewHead {
    padding: 0 0 12px 0;
    border-bottom: 1px solid #ebebeb;
    margin: 0 0 20px 0;
    h2 {
      font-size: 24px;
      color: #444444;
      float: left;
    }
    .reviewNav {
      margin: 20px 0 0 0;
      float: right;
      .previous {
        display: block;
        float: left;
        height: 16px;
        width: 11px;
        // background: no-repeat url(../images/reviewNavPrevious.png);
        @include icons-sprite(reviewNavPrevious);
        margin: 0 11px 0 0;
      }
      .next {
        display: block;
        float: left;
        height: 16px;
        width: 11px;
        // background: no-repeat url(../images/reviewNavNext.png);
        @include icons-sprite(reviewNavNext);
      }
    }
  }
  .reviewProfile {
    padding: 11px 0px 0px 10px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #d9d9d9;
    margin: 0 22px 20px 0;
    width: 283px;
  }
  .last {
    margin: 0 0 20px 0;
  }
  .reviewProfile {
    .reviewProfileTop {
      border-bottom: 1px solid #ebebeb;
      padding: 0 0 10px 0;
      margin: 0 0 6px 0;
      .reviewProfilePic {
        width: 58px;
        height: 58px;
        border-radius: 29px;
        box-shadow: 0 0 0 1px #bbbbbb;
        // background: no-repeat url(../images/reviewProfilePic.png);
        @include icons-sprite(reviewProfilePic);
        float: left;
        margin: 0 10px 0 0;
        display: block;
      }
      .reviewProfileTitle {
        float: left;
        padding: 13px 0 0 0;
        .profileTitle {
          font-family: arial;
          color: #222222;
          font-size: 16px;
          display: block;
          margin: 0 0 2px 0;
          &:hover {
            color: #666666;
          }
        }
        .profileTitlePost {
          color: #666666;
        }
      }
      .rating {
        margin: 13px 0 10px 0;
        padding: 0 0 0 0;
        float: right;
        background: repeat-x url(../images/ratingBack.png);
        // @include icons-sprite(ratingBack);
        width: 80px;
        height: 13px;
      }
      .ratingFront {
        background: repeat-x url(../images/ratingFront.png);
        // @include icons-sprite(ratingFront);
        width: 70%;
        height: 13px;
      }
    }
    .reviewProfileBottom {
      padding: 0 0 0 4px;
      .reviewProfileBottomTitle {
        font-size: 14px;
        color: #444444;
        margin: 0 0 5px 0;
        display: block;
      }
      p {
        margin-bottom: 15px;
        a {
          color: #dd4422;
          &:hover {
            color: #888888;
          }
        }
      }
    }
  }
}

.message {
  width: 280px;
  float: left;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  .messageHead {
    margin: 25px 30px 18px 20px;
    h2 {
      // background: no-repeat url(../images/message.png);
      @include icons-sprite(message);
      padding: 4px 0 10px 43px;
      color: #dd4422;
      float: left;
      text-transform: uppercase;
    }
    span {
      text-transform: uppercase;
      color: #666666;
      float: right;
      margin: 9px 7px 0 0;
    }
    .newMessage {
      height: 19px;
      width: 22px;
      color: #dd4422;
      float: right;
      background: #dd4422;
      border-radius: 11px;
      color: #ffffff;
      text-align: center;
      font-family: robotoregular;
      padding-top: 3px;
      margin-top: 6px;
    }
  }
  .mainMessage {
    .day {
      padding: 1px 5px 0 6px;
      margin: 0 0 10px 20px;
      border-radius: 2px;
      background: #e5e5e5;
      display: block;
      float: left;
      font-size: 11px;
    }
    .seperator {
      height: 3px;
      // background: no-repeat url(../images/seperator.png);
      @include icons-sprite(seperator);
    }
    li {
      clear: both;
      margin-bottom: 24px;
      ul {
        .clr {
          border: none;
        }
        li {
          border-bottom: 1px solid #ebebeb;
          margin: 8px 30px 5px 20px;
          .pic {
            width: 36px;
            height: 36px;
            border-radius: 18px;
            box-shadow: inset 0 0 1px 0 #cccccc;
            // background: no-repeat url(../images/pic1.png);
            @include icons-sprite(pic1);
            float: left;
            margin: 0 10px 7px 0;
            display: block;
          }
          .name {
            display: block;
            font-size: 16px;
            color: #222222;
            margin: 7px 0 0 0px;
            float: left;
            &:hover {
              color: #666666;
            }
          }
          span {
            display: block;
            color: #666666;
            margin-bottom: 6px;
            line-height: 15px;
          }
          .time {
            display: block;
            font-size: 11px;
            color: #aaaaaa;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

#footer {
  background: #353535;
  .footerWrapper {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 80px;
    ul {
      text-align: center;
      margin: 0px 0 6px 0px;
      padding-top: 15px;
      li {
        border-left: 1px solid #d9d9d9;
        margin: 0 5px 0 0px;
        padding: 0 0 0 5px;
        float: none;
        display: inline-block;
      }
      .start {
        border: none;
      }
      li a {
        color: #d9d9d9;
      }
      .clr {
        border: none;
      }
      li a:hover {
        color: #888888;
      }
    }
    span {
      display: block;
      text-align: center;
    }
  }
}